@media (min-width: 768px) {
  .btn {
    display: none;
  }

.list {
  display: flex;
  gap: 2em;
}
}
@media (min-width: 767px) {
  .btn {
    position: relative; 
    z-index: 200;
  }
  .close .btn {
    color: blue;

  }

  .open .btn {
    color: red;
  }

  .list {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white);
  }
}

@media (hover: hover) {
  .list a:hover {
    color: var(--accent);
  }
}

@media (hover: none) {
  .list a {
    -webkit-tap-highlight-color: transparent;
  }
  .list a:active {
    color: var(--accent);
  }
}
