.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-lg);
}

.post h2 {
    margin-top: 0.5em;
    font-size: 25px;
    font-weight: 400;
}

.post figure {
    position: relative;
    aspect-ratio: 16/9;
}